*
!cratermaker/
!cratermaker/core/
!cratermaker/models/
!cratermaker/components/
!cratermaker/components/morphology/
!cratermaker/components/production/
!cratermaker/components/projectile/
!cratermaker/components/scaling/
!cratermaker/components/surface/
!cratermaker/components/target/
!cratermaker/utils/
!cratermaker/**/*.py
!cratermaker/**/*.pyx
!cratermaker/**/*.h
!src/
!src/*/
!src/*/**.f90
!src/
!src/*.rs
!Cargo.toml
!rust-toolchain.toml
!cmake/
!cmake/Modules/
!cmake/Modules/*.cmake
!tests/
!tests/core/
!tests/components/
!tests/utils/
!tests/**/*.py
!.gitignore
!CMakeLists.txt
!distclean.cmake
!README.md
!pyproject.toml
!LICENSE
!COPYING
cratermaker/_version.py
!.readthedocs.yaml
!environments/
!environments/*.yml
!environments/*.txt
!docs/
!docs/Makefile
!docs/conf.py
!docs/_static/
!docs/_static/logos/
!docs/_templates/
!docs/_templates/autosummary/
!docs/_exts/
!docs/getting-started-guide/
!docs/user-guide/
!docs/**/*.rst
!docs/**/*.css
!docs/**/*.png
!docs/**/*.svg
!docs/**/*.py
!buildscripts/
!buildscripts/*.py
!buildscripts/*.sh
!.github/
!.github/workflows/
!.github/workflows/*.yml
