*
!cratermaker/
!cratermaker/core/
!cratermaker/models/
!cratermaker/plugins/
!cratermaker/tests/
!cratermaker/utils/
!cratermaker/**.py
!cratermaker/*/**.py
!cratermaker/*/**.pyx
!cratermaker/*/**.h
!cratermaker/fortran/
!cratermaker/fortran/*/
!cratermaker/fortran/*/**.f90
!cratermaker/fortran/globals/*.in
!cmake/
!cmake/Modules/
!cmake/Modules/*.cmake
!tests
!tests/**.py
!.gitignore
!CMakeLists.txt
!distclean.cmake
!README.md
!version.txt
!pyproject.toml
!LICENSE
