[submodule "external/jigsaw-python"]
	path = external/jigsaw-python
	url = https://github.com/dengwirda/jigsaw-python.git
[submodule "external/jigsaw"]
	path = external/jigsaw
	url = https://github.com/dengwirda/jigsaw.git
[submodule "external/mpas-tools"]
	path = external/mpas-tools
	url = https://github.com/MPAS-Dev/MPAS-Tools
