*
!cratermaker/
!cratermaker/core/
!cratermaker/models/
!cratermaker/plugins/
!cratermaker/tests/
!cratermaker/tests/core/
!cratermaker/tests/utils/
!cratermaker/tests/cython/
!cratermaker/tests/*/*.py
!cratermaker/utils/
!cratermaker/cython/
!cratermaker/**.py
!cratermaker/*/**.py
!cratermaker/*/**.pyx
!cratermaker/*/**.h
!fortran/
!fortran/*/
!fortran/*/**.f90
!cmake/
!cmake/Modules/
!cmake/Modules/*.cmake
!tests
!tests/**.py
!.gitignore
!CMakeLists.txt
!distclean.cmake
!README.md
!version.txt
!pyproject.toml
!LICENSE
!.readthedocs.yaml
!docs/
!docs/**/*
docs/**/*.ai
docs/_build/
docs/_build/**/*
docs/generated/
docs/generated/**/*
docs/**/*.DS_Store
docs/**/*.swp
!fortran_doc.md

