dask>=2025.11.0
xarray>=2025.11.0
uxarray>=2025.10.0
vtk>=9.5
scipy
matplotlib
tqdm
pyogrio
trimesh
datashader>=0.17.0
geoviews>=1.14.0
PyYAML>=6
astropy>=7
pytest
pip>=24.2
sphinx<9
sphinx-autosummary-accessors
sphinx-book-theme>=0.3.0
sphinx-copybutton
sphinx-design
sphinx-inline-tabs
sphinxext-rediraffe
sphinxext-opengraph
sphinx-gallery
ipython
ipykernel
pyvista[all]
rasterio>=1.4.4
jupyter-server-proxy
nest-asyncio
trame-client>=2.12.7
trame-server>=2.11.7
trame-vtk>=2.5.8
trame-vuetify>=2.3.1
trame>=2.5.2
